body {
    margin: 0;
    padding: 0;
    background-color: rgba(30, 30, 30, 1);
    color: white;
    font-size: 24px;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    font: 15px Arial sans-serif;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}

.nav {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 12px;
    margin-right: 20px;
}

.nav-btn {
    background-color: #72B626;
    border-radius: 20px;
    text-decoration: none;
    border-color: #72B626;
    font: 15px Arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;

}

.nav-btn a {
    text-decoration: none;
    /* Remove underline from link */
    color: white;
}

.home-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    position: absolute;
    left: 65%;
    top: 20%;
}

.home-display div {
    padding-right: 20px;
    max-width: 60%;
}

.title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #72B626;
    align-items: center;
}

.colorblock {
    position: absolute;
    left: 90%;
    top: 0%;
    width: 150px;
    height: 710px;
    background-color: #72B626;
    border-radius: 5px;
    z-index: -1;
    /* Ensures it stays behind the content */
}

.section {
    padding: 180px 60px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px 0px;
    background-color: rgba(30, 30, 30, 1);
    border-radius: 50px;
    border-color: #72B626;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 16px 50px 16px 35px;
    cursor: pointer;
    overflow: hidden;
}

.btn a {
    text-decoration: none;
    /* Remove underline from link */
    color: white;
}

.btn i {
    display: flex;
    justify-content: right;
    margin-left: 10px;
}

.aboutme-list {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.project-img {
    /* display: none; */
    width: 190px;
    height: 190px;
    border-radius: 30%;
    margin: 1em;
    cursor: pointer;
}

ul {
    list-style-type: none;
    /* This removes the bullet points. */
}

.about-img {
    /* width: 380px; */
    height: 10px;
    width: 400px;
    height: auto;
    display: block;
}

.close-button{
    
}

.input-group {
    display: flex;
    gap: 10px;
    background-color: #252525;

}

.blog-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    /* space between rows */
}

.blog-container {
    display: block;
    padding: 5px;
    width: 390px;
    height: 400px;
    text-align: center;
    border-width: 5px;
    background-color: #252525;
}

.colorline {
    width: 380px;
    height: 10px;
    background-color: #72B626;
    border-radius: 1px;
}

.blog-img {
    width: 350px;
    height: 300;
}

.blog-container img{
    object-fit: contain;

}

.contact-display {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* some gap to separate form and info */
}

#contact_section input {
    border: 1px solid #111;
    width: 100%;
    background: #252525;
    color: #fff;
    padding: 11px 26px;
    margin-bottom: 30px;
    border-radius: 30px;
}

#contact_section textarea {
    width: 90%;
    border: solid #72B626;
    padding: 1em;
}

.social-links {
    display: flex;
    flex-direction: column; /* Stacks icons vertically */
    gap: 10px; /* To add spacing between icons */
    color: #72B626;
    background-color: #CFF1AB;
    width: 25px;
    height: 400px;
    border-radius: 5px;
  }
  
  .social-links i {
    font-size: 24px; /* Adjust size if needed */
    cursor: pointer;
  }